<div class="user-details">
  <h1> About Me </h1>
  <a href="https://www.linkedin.com/in/muhammad-fikri-kafilli-75a2462a2/">
  		<!-- <img src="assets/img/Circle Profile.png" alt="Muhammad Fikri Kafilli" style='max-height: 100%; max-width: 100%; object-fit: contain'/> -->
      <img src="assets/img/Circle Profile3.png" alt="Muhammad Fikri Kafilli" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;" />
  </a>
              
  <p> {{site.user_description}} </p>
  <p> {{site.user_passion}} </p>
  <p> {{site.user_sign_off}} </p>
</div>
